{% extends 'base.html.twig' %}

{% block title %}FAQ{% endblock %}

{% block body %}
    <section class="bg-slate-50 dark:bg-gray-900">
        <div class="container px-6 py-12 mx-auto">
            <h1 class="text-2xl font-semibold text-gray-800 lg:text-4xl dark:text-white">Foire aux questions</h1>

            <div class="grid grid-cols-1 gap-8 mt-8 lg:mt-16 md:grid-cols-2 xl:grid-cols-2">

                <div>
                    <div class="inline-block p-3 text-white bg-blue-600 rounded-lg">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                    </div>

                    <div>
                        <h1 class="text-xl font-semibold text-gray-700 dark:text-white">Qui êtes vous ? En quoi êtes vous différent d'Amazon ?</h1>

                        <p class="mt-2 text-sm text-gray-500 dark:text-gray-300">
                            Nous ne sommes pas une plateforme de vente en ligne, nous n'essayant pas de concurer Amazon ou quelconque site de vente en ligne.
                            Nous sommes avant tout une solution rapide pour vous guider dans vos achats en ligne
                        </p>
                    </div>
                </div>

                <div>
                    <div class="inline-block p-3 text-white bg-blue-600 rounded-lg">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                    </div>

                    <div>
                        <h1 class="text-xl font-semibold text-gray-700 dark:text-white">Quel est l'avenir de Watooshop ?</h1>

                        <p class="mt-2 text-sm text-gray-500 dark:text-gray-300">
                            Watooshop est promit a un grand avenir ! Nous continuons d'améliorer nos algorithmes pour vous fournir toujours plus de satisfaction.
                            Nous nous étondrons par la suite sur l'ensemble du marché en ligne pour vous apporter le meilleur de tout marché confendu
                            Notre but a terme sera de vous fournir le saint gral déniché parmis une multitude de site de vente en ligne
                        </p>
                    </div>
                </div>

                <div>
                    <div class="inline-block p-3 text-white bg-blue-600 rounded-lg">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                    </div>

                    <div>
                        <h1 class="text-xl font-semibold text-gray-700 dark:text-white">Comment faites vous de l’argent ?</h1>

                        <p class="mt-2 text-sm text-gray-500 dark:text-gray-300">
                            Toute notre activité économique est basé sur le programme d'Amazon affiliation pour chacun de vos achats il nous est reverse une petite partie en contribution de notre travail fournie
                        </p>
                    </div>
                </div>

                <div>
                    <div class="inline-block p-3 text-white bg-blue-600 rounded-lg">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                    </div>

                    <div>
                        <h1 class="text-xl font-semibold text-gray-700 dark:text-white">Quelles sources utilisez-vous pour collecter les données sur les articles ?</h1>

                        <p class="mt-2 text-sm text-gray-500 dark:text-gray-300">
                            Toutes nos données sont issues légalement d'Amazon.
                        </p>
                    </div>
                </div>

                <div>
                    <div class="inline-block p-3 text-white bg-blue-600 rounded-lg">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                    </div>

                    <div>
                        <h1 class="text-xl font-semibold text-gray-700 dark:text-white">Comment trouvez vous les meilleurs articles ?</h1>

                        <p class="mt-2 text-sm text-gray-500 dark:text-gray-300">
                            Chaque article sont issues d'une vaste selection et de trie de chaque catégorie d'Amazon.
                            Notre algorithme se base sur différents critère en fonction de la catégorie
                        </p>
                    </div>
                </div>

                <div>
                    <div class="inline-block p-3 text-white bg-blue-600 rounded-lg">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                    </div>

                    <div>
                        <h1 class="text-xl font-semibold text-gray-700 dark:text-white">J’ai trouvé une erreur comment puis je la reporter ?</h1>

                        <p class="mt-2 text-sm text-gray-500 dark:text-gray-300">
                            Lorsqu'une erreur est trouvée il est possible de nous contacter via les réseaux sociaux en nous fournissant une impression écran et la description de l'erreur en question.
                            Nous vous remercions pour votre contribution
                        </p>
                    </div>
                </div>

                <div>
                    <div class="inline-block p-3 text-white bg-blue-600 rounded-lg">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                    </div>

                    <div>
                        <h1 class="text-xl font-semibold text-gray-700 dark:text-white">J'ai des idées pour vous améliorer est ce que cela vous interresse ?</h1>

                        <p class="mt-2 text-sm text-gray-500 dark:text-gray-300">
                            Nous prenoms tout type de critique et d'idée, nous cherchons avant tout a satisfaire vos besoin en ligne alors quoi de plus normal que vous écouter.
                            Vous pouvez nous transmettre vos idées sur facebook, instagram ou par mail avec un brève description de vos idées
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}
