<!-- component -->
<section class="text-gray-700 body-font overflow-hidden bg-white">
    <div class="container px-5 py-24 mx-auto">
        {#                        <div class="lg:w-4/5 mx-auto flex flex-wrap">#}
        <!-- Table -->
        <div class="w-full max-w-2xl mx-auto bg-white shadow-lg rounded-sm border border-gray-200">
            <header class="px-5 py-4 border-b border-gray-100">
                <h2 class="font-semibold text-gray-800">Caractéristiques</h2>
            </header>
            <div class="p-3">
                <div class="overflow-x-auto">
                    <table class="table-auto w-full">
                        <tbody class="text-sm divide-y divide-gray-100">

                                {% for attribute in product.attributes %}
                                    {% if attribute.state == true %}

                                        <tr>
                                            <td class="p-2 whitespace-nowrap">
                                                <div class="flex items-center">
                                                    <div class="font-medium text-gray-800">{{ attribute.name}}</div>
                                                </div>
                                            </td>
                                            <td class="p-2 whitespace-nowrap">
                                                <div class="text-left">{{ attribute.value}}</div>
                                            </td>
                                        </tr>

                                    {% endif %}
                                {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {#                        </div>#}
    </div>
</section>