{% extends 'base.html.twig' %}

{% block title %}Watooshop{% endblock %}

{% block body %}

    <section class="banner bg-slate-50 bg-opacity-90 py-10">
        <div class="container mx-auto px-4 flex flex-col lg:flex-row">
            <!-- left -->
            <div class="hero-left relative lg:w-2/3 rounded-xl bg-white bg-cover p-8 md:p-16 drop-shadow-md">
                <h1 class="max-w-sm text-secondary text-3xl md:text-4xl font-semibold">Simplifier vos achats en ligne</h1>
                <p class="max-w-xs pr-10 text-secondary font-semibold mt-8">Gaming, bureautique, maison, jardin <br> On vous guidera dans vos choix</p>
            </div>
            <!-- right -->
            <div class="hero-right mt-6 lg:mt-0 lg:ml-6 lg:w-1/3 rounded-xl bg-blue-600 bg-cover p-8 md:p-16 drop-shadow-md text-white">
                <div class="max-w-sm">
                    <p class="text-3xl md:text-4xl font-semibold">Notre expertise</p>
                    <p class="mt-8 font-semibold">Un processus de selection fiable pour vous garantir le meilleur selon vos désirs</p>
                </div>
            </div>
        </div>
    </section>

    <section class="text-gray-600 body-font">
        <div class="container px-5 py-10 mx-auto">
            <div class="flex flex-col text-center w-full mb-10">
                <h2 class="sm:text-3xl text-2xl font-medium title-font text-blue-600">Les meilleures produits à votre porté</h2>
            </div>
            <div class="flex flex-wrap -m-4">
                <div class="p-4 lg:w-1/4 w-full drop-shadow-lg">
                    <div class="flex rounded-lg h-full bg-white p-8 flex-col">
                        <div class="flex items-center mb-3">
                            <div class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full bg-blue-600 text-white flex-shrink-0">
                                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                                    <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
                                </svg>
                            </div>
                            <h3 class="text-gray-900 text-lg title-font font-medium">Meilleures ventes</h3>
                        </div>
                        <div class="flex-grow">
                            <p class="leading-relaxed text-base">Une vaste sélection des meilleures ventes dans l'ensemble du catalogue amazon france</p>
                            <a class="mt-3 text-blue-600 inline-flex items-center">Voir
                                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="p-4 lg:w-1/4 w-full drop-shadow-lg">
                    <div class="flex rounded-lg h-full bg-white p-8 flex-col">
                        <div class="flex items-center mb-3">
                            <div class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full bg-blue-600 text-white flex-shrink-0">
                                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                                    <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
                                    <circle cx="12" cy="7" r="4"></circle>
                                </svg>
                            </div>
                            <h3 class="text-gray-900 text-lg title-font font-medium">Meilleurs prix</h3>
                        </div>
                        <div class="flex-grow">
                            <p class="leading-relaxed text-base">Acheter vos produits aux meilleurs prix grâce à notre selection sur amazon france</p>
                            <a class="mt-3 text-blue-600 inline-flex items-center">Voir
                                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="p-4 lg:w-1/4 w-full drop-shadow-lg">
                    <div class="flex rounded-lg h-full bg-white p-8 flex-col">
                        <div class="flex items-center mb-3">
                            <div class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full bg-blue-600 text-white flex-shrink-0">
                                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                                    <circle cx="6" cy="6" r="3"></circle>
                                    <circle cx="6" cy="18" r="3"></circle>
                                    <path d="M20 4L8.12 15.88M14.47 14.48L20 20M8.12 8.12L12 12"></path>
                                </svg>
                            </div>
                            <h3 class="text-gray-900 text-lg title-font font-medium">Meilleures qualités</h3>
                        </div>
                        <div class="flex-grow">
                            <p class="leading-relaxed text-base">La qualité n'a pas de prix pour vous ? Alors c'est ici que vous trouverez votre bonheur</p>
                            <a class="mt-3 text-blue-600 inline-flex items-center">Voir
                                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="p-4 lg:w-1/4 w-full drop-shadow-lg">
                    <div class="flex rounded-lg h-full bg-white p-8 flex-col">
                        <div class="flex items-center mb-3">
                            <div class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full bg-blue-600 text-white flex-shrink-0">
                                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                                    <circle cx="6" cy="6" r="3"></circle>
                                    <circle cx="6" cy="18" r="3"></circle>
                                    <path d="M20 4L8.12 15.88M14.47 14.48L20 20M8.12 8.12L12 12"></path>
                                </svg>
                            </div>
                            <h3 class="text-gray-900 text-lg title-font font-medium">Meilleurs qualité/prix</h3>
                        </div>
                        <div class="flex-grow">
                            <p class="leading-relaxed text-base">Le bon compromis entre qualité et prix après un phase de selection nous vous proposons le meilleur de deux monde</p>
                            <a class="mt-3 text-blue-600 inline-flex items-center">Voir
                                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="text-gray-600 bg-white body-font">
        <div class="container px-5 py-10 mx-auto flex flex-wrap">
            <div class="flex w-full mb-10 flex-wrap">
                <h2 class="sm:text-3xl text-2xl font-medium title-font text-blue-600 lg:w-1/3 lg:mb-0 mb-4">Multimédia</h2>
                <p class="lg:pl-6 lg:w-2/3 mx-auto leading-relaxed text-base">Whatever cardigan tote bag tumblr hexagon brooklyn asymmetrical gentrify, subway tile poke farm-to-table. Franzen you probably haven't heard of them man bun deep jianbing selfies heirloom.</p>
            </div>
            <div class="flex flex-wrap lg:-m-2 -m-1">
                <div class="flex flex-wrap lg:w-1/2">
                    <div class="lg:p-2 p-1 w-full">
                        <div class="flex flex-wrap w-full h-full bg-blue-600 sm:py-24 py-16 sm:px-10 px-6 relative">
                            <img alt="gallery" class="w-full object-cover h-full object-center block absolute inset-0 opacity-25" src="https://www.wallgaming.com/wp-content/uploads/2020/10/clavier-gaming-TOP-10.jpg">
                            <div class="text-center relative z-10 w-full">
                                <h3 class="text-2xl text-white font-medium title-font mb-2">Shooting Stars</h3>
                                <p class=" text-white leading-relaxed">Skateboard +1 mustache fixie paleo lumbersexual.</p>
                                <a class="mt-3 text-white inline-flex items-center">Voir
                                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                                        <path d="M5 12h14M12 5l7 7-7 7"></path>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="lg:p-2 p-1 w-1/2">
                        <div class="flex flex-wrap w-full bg-blue-600 sm:py-24 py-16 sm:px-10 px-6 relative">
                            <img alt="gallery" class="w-full object-cover h-full object-center block absolute inset-0 opacity-25" src="https://resize-europe1.lanmedia.fr/r/622,311,forcex,center-middle/img/var/europe1/storage/images/europe1/guide-shopping/quel-est-le-meilleur-casque-gamer-4100111/58342853-1-fre-FR/Quel-est-le-meilleur-casque-gamer.jpg">
                            <div class="text-center relative z-10 w-full">
                                <h3 class="text-2xl text-white font-medium title-font mb-2">Shooting Stars</h3>
                                <p class=" text-white leading-relaxed">Skateboard +1 mustache fixie paleo lumbersexual.</p>
                                <a class="mt-3 text-white inline-flex items-center">Voir
                                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                                        <path d="M5 12h14M12 5l7 7-7 7"></path>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="lg:p-2 p-1 w-1/2">
                        <div class="flex flex-wrap w-full bg-blue-600 sm:py-24 py-16 sm:px-10 px-6 relative">
                            <img alt="gallery" class="w-full object-cover h-full object-center block absolute inset-0 opacity-25" src="https://j4s9n9z3.rocketcdn.me/wp-content/uploads/2020/04/souris-gaming-sans-fil_00-840x400.jpg">
                            <div class="text-center relative z-10 w-full">
                                <h3 class="text-2xl text-white font-medium title-font mb-2">Shooting Stars</h3>
                                <p class="text-white leading-relaxed">Skateboard +1 mustache fixie paleo lumbersexual.</p>
                                <a class="mt-3 text-white inline-flex items-center">Voir
                                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                                        <path d="M5 12h14M12 5l7 7-7 7"></path>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-wrap lg:w-1/2 lg:p-2 p-1 w-full">
                    <div class="flex flex-wrap items-center w-full h-full bg-blue-600  py-16 sm:px-10 px-6 relative">
                        <img alt="gallery" class="w-full object-cover h-full object-center block absolute inset-0 opacity-25" src="https://lescahiersdudebutant.fr/wp-content/uploads/2019/11/ecran-pc-gaming.jpg">
                        <div class="text-center relative z-10 w-full">
                            <h3 class="text-2xl text-white font-medium title-font mb-2">Shooting Stars</h3>
                            <p class=" text-white leading-relaxed">Skateboard +1 mustache fixie paleo lumbersexual.</p>
                            <a class="mt-3 text-white inline-flex items-center">Voir
                                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="text-gray-600 body-font">
        <div class="container px-5 py-10 mx-auto">
            <div class="text-center mb-10">
                <h2 class="sm:text-3xl text-2xl font-medium text-center title-font text-blue-600 mb-4">Toutes les catégories</h2>
                <p class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto">Blue bottle crucifix vinyl post-ironic four dollar toast vegan taxidermy. Gastropub indxgo juice poutine, ramps microdosing banh mi pug.</p>
            </div>
            <div class="flex flex-wrap lg:w-4/5 sm:mx-auto sm:mb-2 -mx-2">
                <div class="p-2 sm:w-1/2 w-full">
                    <div class="bg-gray-100 rounded flex p-4 h-full items-center">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-blue-600 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
                            <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                            <path d="M22 4L12 14.01l-3-3"></path>
                        </svg>
                        <span class="title-font font-medium">Authentic Cliche Forage</span>
                    </div>
                </div>
                <div class="p-2 sm:w-1/2 w-full">
                    <div class="bg-gray-100 rounded flex p-4 h-full items-center">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-blue-600 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
                            <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                            <path d="M22 4L12 14.01l-3-3"></path>
                        </svg>
                        <span class="title-font font-medium">Kinfolk Chips Snackwave</span>
                    </div>
                </div>
                <div class="p-2 sm:w-1/2 w-full">
                    <div class="bg-gray-100 rounded flex p-4 h-full items-center">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-blue-600 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
                            <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                            <path d="M22 4L12 14.01l-3-3"></path>
                        </svg>
                        <span class="title-font font-medium">Coloring Book Ethical</span>
                    </div>
                </div>
                <div class="p-2 sm:w-1/2 w-full">
                    <div class="bg-gray-100 rounded flex p-4 h-full items-center">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-blue-600 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
                            <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                            <path d="M22 4L12 14.01l-3-3"></path>
                        </svg>
                        <span class="title-font font-medium">Typewriter Polaroid Cray</span>
                    </div>
                </div>
                <div class="p-2 sm:w-1/2 w-full">
                    <div class="bg-gray-100 rounded flex p-4 h-full items-center">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-blue-600 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
                            <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                            <path d="M22 4L12 14.01l-3-3"></path>
                        </svg>
                        <span class="title-font font-medium">Pack Truffaut Blue</span>
                    </div>
                </div>
                <div class="p-2 sm:w-1/2 w-full">
                    <div class="bg-gray-100 rounded flex p-4 h-full items-center">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-blue-600 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
                            <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                            <path d="M22 4L12 14.01l-3-3"></path>
                        </svg>
                        <span class="title-font font-medium">The Catcher In The Rye</span>
                    </div>
                </div>
            </div>
            <button class="flex mx-auto mt-16 text-white bg-blue-600 border-0 py-2 px-8 focus:outline-none hover:bg-blue-700 rounded text-lg">Voir tout</button>
        </div>
    </section>

    <section class="text-gray-600 bg-white body-font">
        <div class="container px-5 py-10 mx-auto flex flex-wrap">
            <div class="flex w-full mb-10 flex-wrap">
                <h2 class="sm:text-3xl text-2xl font-medium title-font text-blue-600 lg:w-1/3 lg:mb-0 mb-4">Electroménager</h2>
                <p class="lg:pl-6 lg:w-2/3 mx-auto leading-relaxed text-base">Whatever cardigan tote bag tumblr hexagon brooklyn asymmetrical gentrify, subway tile poke farm-to-table. Franzen you probably haven't heard of them man bun deep jianbing selfies heirloom.</p>
            </div>
            <div class="flex flex-wrap lg:-m-2 -m-1">
                <div class="flex flex-wrap lg:w-1/2">
                    <div class="lg:p-2 p-1 w-full">
                        <div class="flex flex-wrap w-full h-full bg-blue-600 sm:py-24 py-16 sm:px-10 px-6 relative">
                            <img alt="gallery" class="w-full object-cover h-full object-center block absolute inset-0 opacity-25" src="https://www.wallgaming.com/wp-content/uploads/2020/10/clavier-gaming-TOP-10.jpg">
                            <div class="text-center relative z-10 w-full">
                                <h3 class="text-2xl text-white font-medium title-font mb-2">Shooting Stars</h3>
                                <p class=" text-white leading-relaxed">Skateboard +1 mustache fixie paleo lumbersexual.</p>
                                <a class="mt-3 text-white inline-flex items-center">Voir
                                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                                        <path d="M5 12h14M12 5l7 7-7 7"></path>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="lg:p-2 p-1 w-1/2">
                        <div class="flex flex-wrap w-full bg-blue-600 sm:py-24 py-16 sm:px-10 px-6 relative">
                            <img alt="gallery" class="w-full object-cover h-full object-center block absolute inset-0 opacity-25" src="https://resize-europe1.lanmedia.fr/r/622,311,forcex,center-middle/img/var/europe1/storage/images/europe1/guide-shopping/quel-est-le-meilleur-casque-gamer-4100111/58342853-1-fre-FR/Quel-est-le-meilleur-casque-gamer.jpg">
                            <div class="text-center relative z-10 w-full">
                                <h3 class="text-2xl text-white font-medium title-font mb-2">Shooting Stars</h3>
                                <p class=" text-white leading-relaxed">Skateboard +1 mustache fixie paleo lumbersexual.</p>
                                <a class="mt-3 text-white inline-flex items-center">Voir
                                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                                        <path d="M5 12h14M12 5l7 7-7 7"></path>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="lg:p-2 p-1 w-1/2">
                        <div class="flex flex-wrap w-full bg-blue-600 sm:py-24 py-16 sm:px-10 px-6 relative">
                            <img alt="gallery" class="w-full object-cover h-full object-center block absolute inset-0 opacity-25" src="https://j4s9n9z3.rocketcdn.me/wp-content/uploads/2020/04/souris-gaming-sans-fil_00-840x400.jpg">
                            <div class="text-center relative z-10 w-full">
                                <h3 class="text-2xl text-white font-medium title-font mb-2">Shooting Stars</h3>
                                <p class="text-white leading-relaxed">Skateboard +1 mustache fixie paleo lumbersexual.</p>
                                <a class="mt-3 text-white inline-flex items-center">Voir
                                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                                        <path d="M5 12h14M12 5l7 7-7 7"></path>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-wrap lg:w-1/2 lg:p-2 p-1 w-full">
                    <div class="flex flex-wrap items-center w-full h-full bg-blue-600  py-16 sm:px-10 px-6 relative">
                        <img alt="gallery" class="w-full object-cover h-full object-center block absolute inset-0 opacity-25" src="https://lescahiersdudebutant.fr/wp-content/uploads/2019/11/ecran-pc-gaming.jpg">
                        <div class="text-center relative z-10 w-full">
                            <h3 class="text-2xl text-white font-medium title-font mb-2">Shooting Stars</h3>
                            <p class="text-white leading-relaxed">Skateboard +1 mustache fixie paleo lumbersexual.</p>
                            <a class="mt-3 text-white inline-flex items-center">Voir
                                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="text-gray-600 body-font">
        <div class="container mx-auto flex px-5 py-10 md:flex-row flex-col items-center">
            <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-10 md:mb-0">
                <img class="object-cover object-center rounded" alt="hero" src="https://blog.verisign.com/wp-content/uploads/VRSN_CompanyBrandedEmail_BlogImage8_201712-670x446.png">
            </div>
            <div class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center">
                <h2 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-blue-600">Vous tenir informer des mises à jour</h2>
                <p class="mb-8 leading-relaxed">Chillwave portland ugh, knausgaard fam polaroid iPhone. Man braid swag typewriter affogato, hella selvage wolf narwhal dreamcatcher.</p>
                <div class="flex w-full md:justify-start justify-center items-end">
                    <div class="relative mr-4 lg:w-full xl:w-1/2 w-2/4">
                        <label for="hero-field" class="leading-7 text-sm text-gray-600">Adresse e-mail</label>
                        <input type="text" id="hero-field" name="hero-field" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:ring-2 focus:ring-blue-200 focus:bg-transparent focus:border-blue-700 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" spellcheck="false" data-ms-editor="true">
                    </div>
                    <button class="inline-flex text-white bg-blue-600 border-0 py-2 px-6 focus:outline-none hover:bg-blue-700 rounded text-lg">Button</button>
                </div>
            </div>
        </div>
    </section>

{% endblock %}